.root {
  width: 100%;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

::v-deep(.el-card__body) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.area-container {
  flex: 1;
}
