.root {
  width: 100%;
  box-sizing: border-box;
}

::v-deep(.el-card) {
  height: 100%;
}

::v-deep(.el-card__body) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.area-container {
  flex: 1;
}
